<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mat-elevation-z8">
  <mat-form-field class="example-full-width">
    <input
      matInput
      name="email"
      type="email"
      id="email"
      placeholder="Email"
      formControlName="email"
      [disabled]="!valid"
    />
    <mat-error>Campo no valido</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      formControlName="password"
    />
    <mat-error>Campo no valido</mat-error>
  </mat-form-field>
  <app-captcha id="captcha" (verificar)="verificar($event)"></app-captcha>

  <button type="submit" [disabled]="loginForm?.invalid || !valid" mat-flat-button color="primary">
    Login
  </button>
</form>
