<div *ngIf="!estado && personas.length > 0">
  <table border="1" style="margin-bottom:10px">
    <tr>
      <td>Nombre</td>
      <td>Email</td>
      <td>Sexo</td>
      <td>Sueldo</td>
      <td>Edad</td>
      <td>Licencia</td>
      <td>Fecha</td>
    </tr>
    <tr *ngFor="let persona of personas" app-fila [persona]="persona"></tr>
  </table>

  <button (click)="toggleEstado(estado)">Cargar nuevo usuario</button>
</div>
<div *ngIf="!estado && personas.length <= 0">
  No hay usuarios cargados
  <button (click)="toggleEstado(estado)">Cargar nuevo usuario</button>
</div>
