<h3>BIENVENIDO A LA PAGINA PRINCIPAL</h3>

<input type="text" name="marca" id="marca" [(ngModel)]="auto.marca" placeholder="Marca" />
<input type="text" name="modelo" id="modelo" [(ngModel)]="auto.modelo" placeholder="Modelo" />
<input type="text" name="anio" id="anio" [(ngModel)]="auto.anio" placeholder="anio" />
<input type="file" value="Subir foto" (change)="subirArchivo($event)" /><br />
<button (click)="onLogOut()">LogOut</button> <br />
<button (click)="onGetAutos()">Get Autos</button><br />
<button (click)="onRegistro()">Registrar Auto</button><br />
<table border="1">
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Anio</th>
  </tr>
  <tr *ngFor="let item of autos">
    <td>{{ item.marca }}</td>
    <td>{{ item.modelo }}</td>
    <td>{{ item.anio }}</td>
    <td *ngIf="item.foto"><img src="{{ item.foto }}" alt="" height="50px" width="50px" /></td>
  </tr>
</table>
