form {
  position: absolute;
  border: 1px solid rgb(191, 195, 200);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  background-color: rgb(229, 234, 240);
}

mat-form-field {
  width: 80%;
  margin-bottom: 10px;
}

button {
  width: 80%;
  margin-top: 20px;
}
