<div class="container">
  <div id="controles">
    <mat-form-field style="margin-bottom: 20px; display: block; width: 20%;">
      <mat-label>Region</mat-label>
      <mat-select name="region" id="region" (selectionChange)="Filtrar($event)">
        <mat-option value="All">--Selecionar--</mat-option>
        <mat-option value="Europe">Europe</mat-option>
        <mat-option value="Americas">Americas</mat-option>
        <mat-option value="Asia">Asia</mat-option>
        <mat-option value="Oceania">Oceania</mat-option>
        <mat-option value="Africa">Africa</mat-option>
        <mat-option value="Polar">Polar</mat-option>
        <mat-option value="">Sin Filtro</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 20px; display: block; width: 20%;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by name" />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="paisesFiltrados" class="mat-elevation-z8" style="width: 100%">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Pais</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="capital">
      <th mat-header-cell *matHeaderCellDef>Capital</th>
      <td mat-cell *matCellDef="let element">{{ element.capital }}</td>
    </ng-container>
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>Region</th>
      <td mat-cell *matCellDef="let element">{{ element.region }}</td>
    </ng-container>
    <ng-container matColumnDef="flag">
      <th mat-header-cell *matHeaderCellDef>Flag</th>
      <td mat-cell *matCellDef="let element">
        <img src="{{ element.flag }}" alt="" height="50px" width="50px" style="padding-top: 5px;" />
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
