<div class="container" *ngIf="datos">
  <p>{{ ruta }}</p>
  <ng-container *ngIf="ruta == 'Materias'">
    <app-ver-materias [ELEMENT_DATA]="datos"></app-ver-materias>
  </ng-container>
  <ng-container *ngIf="ruta == 'Usuarios'">
    <app-ver-usuarios [ELEMENT_DATA]="datos"></app-ver-usuarios>
  </ng-container>
  <ng-container *ngIf="ruta == 'Inscripciones'">
    <app-ver-inscripciones [ELEMENT_DATA]="datos"></app-ver-inscripciones>
  </ng-container>
  <ng-container *ngIf="ruta == 'Materias a cargo'">
    <app-ver-materias-profesor [ELEMENT_DATA]="datos"></app-ver-materias-profesor>
  </ng-container>
</div>
<mat-spinner
  class="spinner"
  *ngIf="!datos"
  color="warn"
  mode="indeterminate"
  value="50"
></mat-spinner>
