<nav>
  <div class="logo"><h4>Parcial 2</h4></div>
  <ul class="nav-links">
    <li [ngStyle]="{ display: user ? 'none' : 'block' }">
      <a
        routerLink="/register"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        *ngIf="!user"
        >Registrarse</a
      >
    </li>
    <li [ngStyle]="{ display: user ? 'none' : 'block' }">
      <a
        routerLink="/login"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        *ngIf="!user"
        >Login</a
      >
    </li>
    <li [ngStyle]="{ display: !user ? 'none' : 'block' }" *ngIf="tipo == 'administrador'">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        style="cursor: pointer;"
        routerLink="/alta-materia"
        *ngIf="user"
        >Alta Materia</a
      >
    </li>
    <li [ngStyle]="{ display: !user ? 'none' : 'block' }" *ngIf="tipo == 'administrador'">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        style="cursor: pointer;"
        routerLink="/materias"
        *ngIf="user"
        >Ver Materias</a
      >
    </li>
    <li [ngStyle]="{ display: !user ? 'none' : 'block' }" *ngIf="tipo == 'administrador'">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        style="cursor: pointer;"
        routerLink="/listado-usuarios"
        *ngIf="user"
        >Ver Usuarios</a
      >
    </li>
    <li [ngStyle]="{ display: !user ? 'none' : 'block' }" *ngIf="tipo == 'alumno'">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        style="cursor: pointer;"
        routerLink="/inscripcion-materia"
        *ngIf="user"
        >Inscripcion Materia</a
      >
    </li>
    <li [ngStyle]="{ display: !user ? 'none' : 'block' }" *ngIf="tipo == 'alumno'">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        style="cursor: pointer;"
        routerLink="/inscripciones"
        *ngIf="user"
        >Ver inscripciones</a
      >
    </li>
    <li [ngStyle]="{ display: !user ? 'none' : 'block' }">
      <app-mostrar-email [email]="user?.email"></app-mostrar-email>
    </li>
    <li [ngStyle]="{ display: !user ? 'none' : 'block' }">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        (click)="logOut()"
        style="cursor: pointer;"
        *ngIf="user"
        >Logout</a
      >
    </li>
  </ul>
  <div class="burger" (click)="toggleMenu()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
